@charset "utf-8";
*, *:before, *:after {
  box-sizing: inherit;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background-color: #eee !important;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6 { color:#456; }
form { margin:0; padding:0; }
b, strong { color:#3F4A57; }
a { color: #2B587A; cursor: pointer; text-decoration:none !important; border-bottom:1px dotted; }

td.active { background-color:#c0d2e0 !important; }
td.sc:hover { box-shadow:inset 0px 0px 3px 1px rgba(0,0,255,0.2); }

tr.small td {
	width:16px;
	height:16px;
	padding:0;
	white-space: nowrap;
	cursor:pointer;
	border: 1px solid #fff;
}
.thround {
	text-align:center;
	border: 1px solid #c0c0c0;
	background-color: #f0f0f0;
	cursor:default;
}
div.round { display:table; width:100%; background-color:#eee; margin:1px; }
div.round b:hover, div.round:hover { color:#bb0000; }
div.round b:active, div.round:active { color:#ff0000; }
div.round:active { box-shadow:inset 0px 0px 3px 1px rgba(0,0,255,0.2); z-index:1000; }
div.roundo { background-color:#ddd; }
div.round .roundcell { display:table-cell; padding:.5em; margin:0; vertical-align:middle; }
div.round input.trans {
	background:transparent;
	margin:0;
	padding:0 2px;
	border:1px dotted #666;
	font-size:1em;
	font-weight:bold;
	color: #2B587A;
}

.header { 
	white-space: nowrap; 
	color: #ffffff; 
	background-color: #6181a6; 
	text-align: center;
}
.header * { 
	color:#ffffff; 
}
.move, .remove, .edit {
	background: url(../img/close.png) no-repeat center;
	opacity: 0.2;
	filter: alpha(opacity=20);
	height: 34px;
	width: 25px;
	line-height: inherit;
	display:inline-block;
	cursor:pointer;
	float: right !important;
	transition: opacity .2s linear;
}
.move:hover, .remove:hover, .edit:hover { 
	opacity: 1; filter: alpha(opacity=100); 
}
.edit {
	background: url(../img/edit.png) no-repeat center;
}
.move {
	background: url(../img/move.gif) no-repeat center;
}
.sure {
	background-color:#cecece;
	box-shadow: inset 8px 0px 10px rgba(0, 0, 0, .2);
	width:30px;
	text-align:center;
	cursor: pointer;
}

.sure span {
	display:table-cell;
	padding:0 .5em;
}
.sure span:nth-child(odd) {
	color:#06C;
}
.sure span:hover {
	color:#F33;
}

.checkbox { cursor: pointer; line-height: 14px; }
.checkbox.disabled { opacity: 0.5; filter: alpha(opacity=50); }
.checkbox div {
	float: left;
	width: 15px;
	margin-right: 5px;
	height: 14px;
	background: url(../img/check.gif) 0px 0px no-repeat;
}
.checkbox:hover div { background-position: 0px -28px; }
.checkbox.disabled:hover div { background-position: 0px 0px; }
.checkbox.on div { background-position: 0px -14px; }
.checkbox.on:hover div { background-position: 0px -42px; }
.checkbox.disabled.on:hover div { background-position: 0px -14px; }
table.zebra tr:nth-child(odd) { background-color:#efefef; }

.sc {
	min-width: 20px;
	cursor: pointer;
	margin: 0px !important;
	padding: 0px !important;
}

.sc::before {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	border-radius: 8px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
	color: #fff;
	content: attr(data-tooltip);
	padding: 5px 10px;
	margin-top: -30px;
	opacity: 0;
	visibility: hidden;
}

.sc:before:hover {
	opacity: 0;
	visibility: hidden;
}

.sc:hover::before {
	opacity: 1;
	visibility: visible;
}

.b-vacations__user {
	white-space: nowrap !important;
	line-height: 18px  !important;
	vertical-align: middle  !important;
	padding: 0  !important;
	margin: 0  !important;	
}

.b-vacations__user-text {
	padding: 5px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 150px;
	display: block;
}

.b-vacations__user-remove {
	margin: 9px;
    background: url(../img/close.png) no-repeat center;
    opacity: 0.2;
    filter: alpha(opacity=20);
    height: 10px;
    width: 10px;
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    float: right !important;
    transition: opacity .2s linear;	
}

.bheader {
	padding: 0px !important;
}

.b-vacations__item-warning {
    background: url(../img/warning.png) no-repeat center;
    height: 34px;
    width: 25px;
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    float: right !important;
}

.b-vacations__tooltip:before {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	border-radius: 8px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
	color: #fff;
	content: attr(data-tooltip);
	padding: 5px 10px;
	margin-top: -30px;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}

.b-vacations__tooltip:before:hover {
	opacity: 0;
	visibility: hidden;
}

.b-vacations__tooltip:hover::before {
	opacity: 1;
	visibility: visible;
}
