<div class="col-md-12 navbar navbar-default">
	<div class="navbar-text pull-right">[{{=it.user}}]&nbsp;{{?it.admin}}&nbsp;<a onclick="csend({action:'{{?it.view=='nav'}}members{{??}}nav{{?}}' })">{{?it.view=='nav'}}пользователи{{??}}подразделения{{?}}</a>{{?}}</div>
	<h3 class="navbar-text" style="cursor: pointer;" onclick="csend({action:'nav', id:1})">Графики отпусков</h3>
</div>

<div class="col-md-12">


{{?it.view=='nav'}}
	<div class="clearfix">
		<div class="pull-right">
			{{?it.admin}}
				{{?it.id!=1}}
					<div style='padding-bottom:.4em; display:inline-block;'><div class='checkbox{{?it.graph==1}} on{{?}}' onclick="csend({action:'toggle', id:{{=it.id}}, checkvalue:{{=it.graph}} })"><div>&nbsp;</div><img src='img/graph_icon.gif' />&nbsp;</div></div>
				{{?}}
				<button class='btn btn-primary' onclick="csend({otdel_id:{{=it.id}}, action:'new_otdel'})">Добавить отдел</button>
			{{?}}
		</div>
		<div><a class="btn btn-primary" onclick="$('.tocal').dialog({width:700, resizable:false, modal:true, title:{{=it.year}} })">календарь</a></div>
		<br />
	</div>

	{{?it.id!=1}}
	<ol class="breadcrumb">
		{{~it.breadcrumbs.reverse() :value}}
			<li><a onclick="csend({action:'nav', id:{{=value.id}} })">{{=value.text}}</a></li>
		{{~}}
	</ol>
	{{?}}

	<div class="list-group">
		{{~it.otdels :otdel}}
		<div class="list-group-item {{?otdel.childs != 0}} list-group-item-info{{?}}">
			{{?it.admin}}
			<span class='close' style='cursor:pointer;' onclick="gobutton(this, [ {text:'переименовать', func:'$(this).parent().find(\'b, span\').hide();$(this).parent().parent().find(\'input\').parent().show().find(\'input\').focus().select()', class:'edit_item'}, {text:'удалить', func:'csend({action:\'delete_otdel\',otdel_id:{{=otdel.id}},pid:{{=otdel.pid}} })', class:'delete_item'} ])">&times;</span>
			{{?}}
			<h5 class='bheader list-group-item-heading link' style="cursor: pointer" id='header{{=otdel.id}}' data-id="{{=otdel.id}}"{{?it.admin}} data-pid="{{=otdel.pid}}"{{?}}>{{?otdel.graph==1}}<img src="img/graph_icon.gif" />{{?}}&nbsp;{{=otdel.name}}</h5>
			<h5 class="editheader hidden"><input type='text' style='width:100%;' size="{{=otdel.name.length*2}}" id='editname{{=otdel.id}}' class='editheader form-control' data-pid='{{=otdel.pid}}' data-id='{{=otdel.id}}' name='editname' value='{{=otdel.name}}'/></h5>
		</div>
		{{~}}
	</div>

	{{?it.graph==1}}
		{{?it.index && it.index != 1}}
		<div class="clearfix">
			<div class="form-group pull-right">
				<button class='btn btn-primary' onclick='doprint($("#theT"))'><img src='img/print.gif' />&nbsp;Печать</button>&nbsp;
				<div class="btn-group">
					<button class='btn btn-primary' onclick='csend({year:-1,index:{{=it.index}} })'>&larr;</button>
					<button class='btn btn-primary' onclick='csend({year:{{=(new Date().getFullYear() - it.year)}},index:{{=it.index}} })'>текущий год</button>
					<button class='btn btn-primary' onclick='csend({year:1,index:{{=it.index}} })'>&rarr;</button>
				</div>
			</div>
			<h2>{{=it.year}}</h2>
			<br />
		</div>
		<div class='tograph' />
		<br />
			
		{{?it.admin}}
			<div class="col-md-12">
				<div class="pull-right">
					<div class="navbar-form">
						<div class="form-group">
							<input id='unitname' type='text' class='form-control' />
						</div>
						<button class='btn btn-primary' onclick="csend({add:1, unit:$('#unitname').val(), index:{{=it.id}} }); $('#unitname').val('');">Добавить</button>
					</div>
				</div>
			  	<div class="col-md-3">
			  		<div class="well">
			  			<h4>Редакторы:</h4>
						<div class="form-group">
							{{ for (key in it.graph_editors){ }}
								{{?it.admin}}
									<div class='badge'>
										<span class='close' onclick='csend({deletemember:1, member:{{=key}}, otdel:{{=it.index}}, index:{{=it.index}} })'>&times;</span>
										<div style="font-size: 17px; padding-right:1em;">{{=it.graph_editors[key]}}</div>
									</div>
								{{??}}
									{{=value}}
								{{?}}
							{{ } }}
						</div>
				  		<div>
				  			<div class="col-md-9">
				  				<select id='selectmember' class="form-control col-md-9">
										<option value='0'>&nbsp;</option>
										{{ for (id in it.editors){ }}
											<option value='{{=id}}'>{{=it.editors[id]}}</option>
										{{ } }}
								</select>
				  			</div>
							<button class='btn btn-primary col-md-3' onclick="csend({setmember:1, member:$('#selectmember option:selected').val(), unit: $('#selectmember option:selected').text(), otdel:{{=it.index}} })">Добавить</button>
				  		</div>
				  		<div class="clearfix"></div>
					</div>
				</div>
			</div>
		{{?}}
		{{?}}
	{{?}}


{{??it.view=='members'}}


	<h3 align="center">Список пользователей</h3>
	<table width='100%' style='text-align:center; border:1px solid #bbb;' class='zebra border1px' align='center'>
		<tr>
			<th width='20%'>Имя</th>
			<th width='80%'>Модератор отдела</th>
			<th colspan='2'>Доступ</th>
		</tr>
		{{~it.members :member}}
		<tr>
			<td>{{=member.name}}</td>
			<td>
			{{?member.access==1}}
				Все
			{{??}}
				{{=member.otdels_edit.join(', ')}}
			{{?}}
			</td>
			<td>
				<select onchange="csend({ action:'access_member', member_id:{{=member.id}}, accessval:$(this).val()});">
					<option value='0'></option>
					<option value='2'{{?member.access==2}} selected{{?}}>Редактор</option>
					<option value='1'{{?member.access==1}} selected{{?}}>Администратор</option>
				</select>
			</td>
			<td style='border:0px; padding:4px 6px;'>
			{{?it.admin}}
			<img style='cursor:pointer' src='img/remove.png' onclick="goprompt('Внимание!', 'Вы действительно хотите удалить <b>{{=member.name}}</b>?', { action:'delete_member', member_id:{{=member.id}} })" />
			{{?}}
			</td>
		</tr>
	{{~}}
	</table>
	{{?it.admin}}
		<div align='right'>
		<br />
		<div class='input'><input id='nametext' type='text' style='margin:3px;' /></div><button class='btn btn-primary' onclick="csend({action:'add_member', name:$('#nametext').val() })">Добавить</button></div>
	{{?}}
{{?}}


<div id="moveform" style="display:none;">
	<div style="margin:1em; display:table; width:90%;">
		<div style="display:table-cell;">В&nbsp;отдел:&nbsp;</div>
		<select id="moveformselect" style=" display:table-cell;">
			<option value="0">&nbsp;</option>
			{{ for (id in it.move_to){ }}
			<option value="{{=id}}">{{=it.move_to[id]}}</option>
			{{ } }}
		</select>
	</div>
</div>


</div>