<div class="header" style='display:table; width:100%;'>
	<div style="font-weight:bold; font-size:17px; cursor:pointer; display:table-cell; text-align:left;" onclick="csend({action:'nav', id:1})">Графики отпусков</div>
	<div style="display:table-cell; text-align:right;">[{{=it.user}}]&nbsp;{{?it.admin}}&nbsp;<a onclick="csend({action:'{{?it.view=='nav'}}members{{??}}nav{{?}}' })">{{?it.view=='nav'}}пользователи{{??}}подразделения{{?}}</a>{{?}}</div>
</div>
<br />
<br />
<table width="90%" align="center">
<tr>
<td>
{{?it.view=='nav'}}
	<a style="cursor:pointer; display:table-cell; text-align:right; text-decoration:none; border-bottom:1px dotted;" onclick="$('.tocal').dialog({width:700, resizable:false, modal:true, title:'Календарь'})">календарь</a>
	
	<table width='100%' align='center'>
		<tr>
			<td align='left'>
			{{?it.id!=1}}
				{{~it.breadcrumbs.reverse() :value}}
					<a onclick="csend({action:'nav', id:{{=value.id}} })">{{=value.text}}</a>&nbsp;/&nbsp;
				{{~}}
			{{?}}
			</td>
			<td align='right'>
			{{?it.admin}}
				{{?it.id!=1}}
					<div style='padding-bottom:.4em; display:inline-block;'><div class='checkbox{{?it.graph==1}} on{{?}}' onclick="csend({action:'toggle', id:{{=it.id}}, checkvalue:{{=it.graph}} })"><div>&nbsp;</div><img src='img/graph_icon.gif' />&nbsp;</div></div>
				{{?}}
				<button class='button_blue' onclick="csend({otdel_id:{{=it.id}}, action:'new_otdel'})">Добавить отдел</button>
			{{?}}
			</td>
		</tr>
	</table>
	<br />
	
	<div>
		{{~it.otdels :otdel}}
				<div class="round{{?otdel.childs != 0}} roundo{{?}}">
					<b class='bheader roundcell' id='header{{=otdel.id}}' style='cursor:pointer;' data-id="{{=otdel.id}}"{{?it.admin}} data-pid="{{=otdel.pid}}"{{?}} title='двойной клик позволяет редактировать название отдела'>{{?otdel.graph==1}}<img src="img/graph_icon.gif" />{{?}}&nbsp;{{=otdel.name}}</b>
					<div class='roundcell' style='display:none;'><input type='text' style='width:100%;' size="{{=otdel.name.length*2}}" id='editname{{=otdel.id}}' class='editheader trans' data-pid='{{=otdel.pid}}' data-id='{{=otdel.id}}' name='editname' value='{{=otdel.name}}'/></div>
					{{?it.admin}}
					<div class='close roundcell' onclick="gobutton(this,  'csend({action:\'delete_otdel\',otdel_id:{{=otdel.id}},pid:{{=otdel.pid}} })', 'удалить')"></div>
					{{?}}
				</div>
		{{~}}
	</div>
	<br>

	{{?it.graph==1}}
		{{?it.index && it.index != 1}}
			<table width='100%'>
				<tr>
					<td width='33%'><button class='button_blue' onclick='doprint($("#theT"))'><img src='img/print.gif' />&nbsp;Печать</button></td><td style="text-align:center; font-size:180%;">{{=it.year}}</td><td align='right' width='33%'>
			<button class='button_blue' onclick='csend({year:-1,index:{{=it.index}} })'>&larr;</button><button class='button_blue'  onclick='csend({year:{{=(new Date().getFullYear() - it.year)}},index:{{=it.index}} })'>текущий год</button></b><button class='button_blue' onclick='csend({year:1,index:{{=it.index}} })'>&rarr;</button>
					</td>
				</tr>
			</table>
			<br />
			<div class='tograph' />
			<br />
			
			{{?it.admin}}
			<table width="100%">
			  <tr>
				<td colspan="5">
				<legend><b>Редакторы:</b></legend>
				<br>
				{{ for (key in it.graph_editors){ }}
					{{?it.admin}}
						<div class='editor'><div>{{=it.graph_editors[key]}}&nbsp;</div><div class='close' onclick='csend({deletemember:1, member:{{=key}}, otdel:{{=it.index}}, index:{{=it.index}} })' /></div>
					{{??}}
						{{=value}}
					{{?}}
				{{ } }}
				</td>
			  </tr>
			  <tr>
				<td>
					<select id='selectmember' style='width:170px;'>
						<option value='0'>&nbsp;</option>
						{{ for (id in it.editors){ }}
							<option value='{{=id}}'>{{=it.editors[id]}}</option>
						{{ } }}
					</select>	
				</td>
				<td><button class='button_blue' onclick="csend({setmember:1, member:$('#selectmember option:selected').val(), unit: $('#selectmember option:selected').text(), otdel:{{=it.index}} })">Добавить</button></td>
				<td width="100%">&nbsp;</td>
				<td><div class='input'><input id='unitname' type='text' /></div></td>
				<td><button class='button_blue' onclick="csend({add:1, unit:$('#unitname').val(), index:{{=it.id}} }); $('#unitname').val('');">Добавить</button></td>
			  </tr>
			</table>
		{{?}}
		{{?}}
	{{?}}


{{??it.view=='members'}}


	<h3 align="center">Список пользователей</h3>
	<table width='100%' style='text-align:center; border:1px solid #bbb;' class='zebra' align='center'>
		<tr>
			<td class='thround header' width='20%' style='cursor:pointer'>Имя</td>
			<td class='thround header' width='80%'>Модератор отдела</td>
			<td colspan='2' class='thround header' style='cursor:pointer'>Доступ</td>
		</tr>
		{{~it.members :member}}
		<tr>
			<td>{{=member.name}}</td>
			<td>
			{{?member.access==1}}
				Все
			{{??}}
				{{=member.otdels_edit.join(', ')}}
			{{?}}
			</td>
			<td>
				<select onchange="csend({ action:'access_member', member_id:{{=member.id}}, accessval:$(this).val()});">
					<option value='0'></option>
					<option value='2'{{?member.access==2}} selected{{?}}>Редактор</option>
					<option value='1'{{?member.access==1}} selected{{?}}>Администратор</option>
				</select>
			</td>
			<td style='border:0px; padding:4px 6px;'>
			{{?it.admin}}
			<img style='cursor:pointer' src='img/remove.png' onclick="goprompt('Внимание!', 'Вы действительно хотите удалить <b>{{=member.name}}</b>?', { action:'delete_member', member_id:{{=member.id}} })" />
			{{?}}
			</td>
		</tr>
	{{~}}
	</table>
	{{?it.admin}}
		<div align='right'>
		<br />
		<div class='input'><input id='nametext' type='text' style='margin:3px;' /></div><button class='button_blue' onclick="csend({action:'add_member', name:$('#nametext').val() })">Добавить</button></div>
	{{?}}
{{?}}


<div id="moveform" style="display:none;">
	<div style="margin:1em; display:table; width:90%;">
		<div style="display:table-cell;">В&nbsp;отдел:&nbsp;</div>
		<select id="moveformselect" style=" display:table-cell;">
			<option value="0">&nbsp;</option>
			{{ for (id in it.move_to){ }}
			<option value="{{=id}}">{{=it.move_to[id]}}</option>
			{{ } }}
		</select>
	</div>
</div>


</td>
</tr>
</table>